#tableContainer {
    border: 1px solid green;
}
#employeeTable {
    border: 1px solid green;
}

#salaryCalculatorTitle {
    text-align: center;
    border: solid blue 2px;
};

#table-firstName {
    border: solid blue 2px;
}

table, td, tr {
    border: 1px solid
}

#employeeTable, tr {
    border: 1px solid
}

#totalMonthly{
    display: inline-block;
    border: solid rgb(0, 0, 0) 3px;
    background-color: rgb(255, 255, 255);
}

#table-deleteButton{
    text-align: center;
}



