table{
    border-collapse: collapse;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#salaryCalculatorTitle {
    background-color: #6b6b6b;
    color: white;
    text-align: center;
    /* border: 1px solid rgb(255, 0, 0); */
};

/*Selects every line of the table*/
/* #employeeTable, td, tr {
    border: 1px solid rgb(255, 0, 0);
} */

#totalMonthly{
    display: inline-block;
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: rgb(38, 35, 121);
}

/* This one centers the delete button */
tbody{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

tr:nth-child(even){
    background-color: rgb(178, 178, 178);
}

#table-deleteButton, th{
    color: #717171;
    width: 50;
}

.blank_row{
    height: 28.5px
}

th {
    color: white;
    background-color: #717171
}

#monthlyTotalToRight {
    list-style-type: none;
    padding-right: 20px;
    display: inline-block;
}


