#tableContainer {
    border: 1px solid green;
}
#employeeTable {
    border: 1px solid green;
}

#salaryCalculatorTitle {
    text-align: center;
    border: solid blue 2px;
};

#table-firstName {
    border: solid blue 2px;
}

td {
    text-align: left;
}

#totalMonthly{
    text-align: right;
}



